@model IEnumerable<QLTeam.Models.CapBac>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CapBacCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CapBacName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CapBacCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CapBacName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CapBacID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CapBacID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CapBacID })
        </td>
    </tr>
}

</table>
